@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-color: #e1e3ea;
  height: 100vh;
}

.container {
  width: 70%;
  > h1 {
    color: white;
    font-size: 40px;
    padding: 10px 0;
    text-align: center;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: #de3f53;
    font-family: "Rajdhani", sans-serif;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
}
@media screen and (max-width: 470px) {
  .container {
    width: 100%;
  }
}

section {
  width: 100%;
  background-color: #262e4c;
}
input {
  border: none;
  outline: none;
  background-color: rgba(60, 73, 121, 1);
  font-size: 18px;
  color: white;
  padding: 5px;
  width: calc(100% - 80px);
  height: 40px;
  border-radius: 5px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.9);
  }
}

button {
  border: none;
  color: white;
  background-color: rgba(29, 211, 175, 0.7);
  font-size: 25px;
  font-weight: 600;
  height: 42px;
  width: 75px;
  border-radius: 5px;
  &:hover {
    background-color: rgba(0, 255, 0, 1);
  }
}
ul {
  list-style: none;
  color: #e0e0e0;
  padding: 0;
}

ul li {
  padding: 1px;
  background-color: #262e4c;
  border-bottom: 1px solid #3a4674;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li i {
  padding: 1rem;
  color: #ea0a0a;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.2s ease;
  &:hover {
    opacity: 0.8;
    transform: scale(1.5);
    
  }
}

li span {
  flex:auto;
  padding: 0.2rem;
}

li.checked > .fa-check {
  color: #00e676;
  /* background-color: #1dd2af; */
}
li.checked > span {
  /* color: rgb(41, 41, 41); */

  text-decoration: line-through;
  font-weight: normal;
}
@media screen and (max-width: 576px) {
  li span {
    font-size: 0.8rem;
  }
}